.search-hed {
  position: absolute;
  font-size: 3.125rem;
  font-weight: 900;
  z-index: 2;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
}
.search-hed .search-icon {
  padding: 0 1.25rem;
}
.noProp {
  width: 80%;
  text-align: center;
  position: absolute;
  font-size: 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

/*  */
.cards {
  margin: 8rem 0 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.propCard {
  width: 21rem;
  height: 32rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.8rem 0.5rem;
  border-radius: 1rem;
  background-color: #1a1a1a;
  color: var(--text-main-coler);
  margin: 2rem auto;
}
.propCard img {
  width: 100%;
  height: 40%;
  border: 0.066rem solid #fff;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #fff;
}
.propCard .details {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.details > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.propCard .details span {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem;
  background-color: var(--box-second-coler);
  border-radius: 0.66rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.3rem;
}
.propCard .details span.lg {
  width: 85%;
  height: 12%;
}
.propCard .details span.sm {
  width: 15%;
  height: 12%;
}
.propCard .details span.si-sm {
  width: 20%;
  height: 12%;
  flex: 1;
}
.propCard .details span.bttn {
  width: 7rem;
  height: 2.8rem;
  border-radius: 2rem;
  background-image: var(--gradient-gold);
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 0.5rem 0px var(--black-color-2);
  padding: 0.3rem;
}

span.bttn:hover {
  transform: translate(0, 0.4rem);
  box-shadow: 0 0.1rem 0px var(--black-color-2) !important;
}

.propCard .details svg,
.propCard .details i {
  font-size: 1.6rem;
  color: var(--box-main-coler);
}
.propCard .details .lg-icon {
  font-size: 3rem;
  color: var(--box-main-coler);
  cursor: pointer;
}

.propCard .details .hrt-icon .lg-icon-v {
  display: block;
  font-size: 3rem;
  color: var(--text-second-coler);
  cursor: pointer;
}

/* Media */
@media (max-width: 550px) {
  .mobile-back {
    position: fixed;
  }
  .cards {
    width: 100%;
    flex-direction: column;
    align-content: center;
  }
  .propCard {
    width: 70%;
    height: 70vh;
    padding: 2rem 1.2rem;
    border-radius: 2.5rem;
    margin: 10vh auto;
  }
  .propCard img {
    width: 100%;
    height: 40%;
    border: 0.3rem solid #fff;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
  }
  .propCard .details {
    justify-content: space-between;
  }
  .propCard .details span {
    font-size: 2rem;
    border-radius: 2rem;
  }
  .propCard .details i,
  .propCard .details svg {
    font-size: 2.5rem;
  }
  .propCard .details span.lg {
    width: 85%;
    height: 13%;
  }
  .propCard .details span.si-sm {
    width: 16%;
    height: 12%;
  }
  .show .container .propCard .hrt-icon .lg-icon-v,
  .show .container .propCard .hrt-icon .lg-icon {
    font-size: 4.5rem;
  }
  .propCard .details span.bttn {
    width: 35%;
    height: 17%;
    border-radius: 4rem;
    font-size: 2rem;
  }
  .propCard .details .lg-icon {
    font-size: 4rem;
  }
}

@media (max-width: 450px) {
  .propCard {
    width: 80%;
    height: 63vh;
  }
}

@media (max-width: 350px) {
  .propCard .details svg {
    font-size: 2.2rem;
  }
}
